<%- include ("../partials/header")%>


<div class="ccommon">
    <div class="create_b">
        <button class="create_btn">
            <a class="create_a" href="<%="/assignment/create/" + cid + "/"%>"><span class="plusicon"><i
                        class="fas fa-plus"></i></span> Create </a>
        </button>
    </div>
    <div class="cdis">
        <%for(var i=0 ; i<data.length ; i++){%>
        <div class="cdisbox">
            <div class="ciconbox">
                <span class="icon">
                    <i class="fas fa-tasks"></i>
                </span>
            </div>
            <div class="cmsg">
                <a class="aa" href="<%= "/assignment/show-submitted-hw/" + data[i]._id + "/" + cid + "/" %>">
                    <span class="c_ttl"><%=data[i].title  %>
                        <a class="attach_doc" href="<%="/assignment/images/" + data[i].a_filename + "/" %>"><i
                                class="fas fa-link"></i></a></span><br>
                </a>
                <span class="a_dtl"><%=data[i].a_details%></span>

            </div>
            <form class="cform" action="<%= "/assignment/assign-delete/" + data[i]._id + "/" + cid + "/" %>"
                method="post">
                <button class="cdicon">
                    <i class="fas fa-times"></i>
                </button>
            </form>

        </div>
        <%}%>
</div>

</div>



<div class="nav-bar">
    <a class="a_f_dash" href="<%="/assignment/" + cid + "/" + id + "/" %>">Stream</a>
        <a class="a_f_dash" href="<%="/assignment/assign-show/" + cid + "/" %>">ClassRoom</a>
        <a class="a_f_dash" href="<%="/assignment/show-students/" + cid  + "/"%>">People</a>
        <!-- <a class="a_f_dash" href="">Grades</a> -->
    </div>

    <a href = "/dashboard">
        <img src="/DSwithname.jpg" alt="logo" class="clogo">
      </a>