<%- include ("../partials/header")%>

<div class="scommon">
<div class="teacher">
  <div class = "f_head">Teacher</div>
  <div class="teacher_name">
    <%= fc_name%>
  </div>
</div>
<div class="std">
  <div class = "f_head">Students</div>
<% for(var i=0 ; i<data.length ; i++){ %>
  <div class = "stds">
      <%= data[i].st_name%>
  
  <span class = "rmv_std">
    <a href= "<%="/assignment/student-remove/" + data[i]._id + "/" + cid + "/" + data[i].st_id + "/" %>" >Remove Student</a>
  </span>
</div>
<% } %>
</div>
</div>

<div class="nav-bar">
  
      <a class="a_f_dash" href="<%="/assignment/" + cid + "/" + id + "/" %>">Stream</a>
      <a class="a_f_dash" href="<%="/assignment/assign-show/" + cid + "/" %>">ClassRoom</a>
      <a class="a_f_dash" href="<%="/assignment/show-students/" + cid  + "/"%>">People</a>
      <!-- <a class="a_f_dash" href="">Grades</a> -->
</div>
  <a href = "/dashboard">
  <img src="/DSwithname.jpg" alt="logo" class="clogo">
</a>