<%- include ("../partials/header")%>

<div class="common">
    <div class="left">
        <div class="img_part">
            <img src="/dash_img.png" alt="Dash_img" class="dash_img">
        </div>

        <div class="class_name">
            <%= name %>
        </div>

        <div class="pwrapper">
            <div class="pinput-fields">
                <div class="pinput-fields2">
                    <form action="<%= "/discussion/" + cid + "/" + id + "/"%>" method="post">
                        <input class="pinput" type="text" name="msg" placeholder="Share something with your class">
                    </form>
                </div>
            </div>
        </div>

        <div class="dis">
            <% for(var i=0 ; i<discussions.length ; i++) {%>
            <div class="disbox">
                <div class="iconbox">
                    <% if(data.fc_id === discussions[i].sender_id){ %>
                    <span class="icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </span>
                    <%}else{%>
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                    <%}%>  
            </div>
            <div class="msgbox">
                <span class="s_name"><%= discussions[i].sender_name %></span><br>
                    <span class="s_msg"><%= discussions[i].msg %></span><br>
                </div>
                <% if(discussions[i].sender_id == id) {%>
                    <div class="deletebox">
                        <a href="<%= "/homework/delete-msg/" + cid + "/" + discussions[i]._id + "/" + id + "/"%>">
                            <span class="dicon">
                                <i class="fas fa-times"></i>
                            </span>
                        </a>
                    </div>
                 <% } %>
                
            </div>
            <% } %>
        </div>

    </div>

</div>   

<div class="nav-bar">
    <a class="a_f_dash" href="<%="/homework/" + cid + "/" + id + "/" %>">Stream</a>
    <a class="a_f_dash" href="<%="/homework/assignments/" + id + "/" + cid + "/"%>">ClassRoom</a>
    <a class="a_f_dash" href="<%="/homework/show-classmates/" + cid  + "/" + id + "/" %>">People</a>
</div>

<a href = "/dashboard">
    <img src="/DSwithname.jpg" alt="logo" class="clogo">
  </a>
